body {
  
}

#mainNav{
	background-color: #333;
}

#primarySection{
	background-color: forestgreen;
}

section#portfolio{
	background-color: cornsilk;
}

section#contact{
	background-color: floralwhite;
}

section#about{
	background-color: cornflowerblue;
}	

#aboveFooter{
	background-color: firebrick;
}

#belowFooter{
	background-color: black;
}

#primaryStar:after{
	background-color: forestgreen;
	color: yellowgreen;
}

#portfolioStar:after{
	background-color:cornsilk;
	color:burlywood;
}

#aboutStar:after{
	background-color: cornflowerblue;
	color: darkslateblue;
}

#contactStar:after{
	background-color: floralwhite;
	color: burlywood;
}

a {
  color: #00B7FF;
}
